doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/product.css")
    body
        header.main-header
            nav.main-header_nav
                ul.main-header_item-list
                    li.main-header_item
                        a.active(href="/") Shop
                    li.main-header_item
                        a.active(href="/admin/add-product") Add Product
