body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main {
    padding: 1rem;
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: green;
}

.main-header_nav {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 1.5rem;
}

.main-header_item-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    ;
}

.main-header_item {
    margin: 0 1rem;
    padding: 0;
}

.main-header_item a {
    text-decoration: none;
    color: white;
}

.main-header_item a:hover,
.main-header_item a.active {
    color: purple;
}