.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}

.card_image {
    width: 80vw;
    height: auto;
}

.card_image img {
    width: 360px;
    height: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
    display: block;
    width: 100%;
}

.form-control input,
.form-control textarea {
    border: 1px solid green;
    font: inherit;
    border-radius: 2px;
}

.form-control input:focus,
.form-control textarea {
    outline-color: #00695c;
}

button {
    font: inherit;
    border: 1px solid green;
    color: green;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: purple;
    color: white;
}

.pagination {
    margin-top: 2rem;
    text-align: center;
}

.pagination a {
    text-decoration: none;
    color: #00695c;
    padding: 0.5rem;
    border: 1px solid #00695c;
    margin: 0 1rem;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active {
    background: #00695c;
    color: white;
}